#auth {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #195E93;
}

.authentication {
  width: 40rem;
  height: 50rem;
  padding: 5rem;

  background-color: white;
  box-shadow: 1rem 1rem 1px #0a4877;

  display: flex;
  flex-direction: column;
}

.authentication h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #222;
  flex: 2;
}

.authentication h5 {
  color: #666;
  flex: 1;
}

.authentication form {
  flex: 10;
}

.authentication form div {
  display: flex;
  flex-direction: column;
}

.authentication form label {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #555;
}

.authentication form input {
  padding: 0.7rem 1rem;
  border: transparent;
  background-color: #eee;
  outline: none;
  font-size: 2rem;
}

.authentication form button {
  padding: 0.7rem 1rem;
  border: transparent;
  background-color: #195E93;
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
  text-transform: uppercase;

  transition: 0.3s;
}

.authentication form button:hover {
  background-color: #0a4877;
}

.auth-invalid, .authentication label.auth-invalid, .invalid {
  font-size: 1.1rem;
  color: #9b0000;
  text-transform: none;
  opacity: .7;
}

.successful {
  font-size: 1.1rem;
  color: #009b41;
  opacity: .7;
}

.invalid, .successful {
  text-transform: uppercase;
  text-align: center;
}




.form-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #d1d1d1;
  border-radius: 50%;
  border-top-color: #0a4877;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}